:root {
  --bg-primary: #000000;
  --text-light: #FFFFFF;
  --title-primary-color: #F5F5F7;
  --action-color: #2997FF;
  --spirited-main-color: #FFFFFF;
  --iphone-text-dark: #1d1d1e;
}

header {
  background-color: var(--bg-primary);
  color: var(--text-light);
  height: fit-content;
  opacity: 0.9;
  position: sticky;
  /* faz com que o nav fique 'preso' na parte superior da página */
  top: 0;
  /* valor para definir posição do nav */
  z-index: 1;
  /* faz com que o atributo sobreponha os demais */

  padding: 0.8rem 0px;
}

header nav ul {
  margin: 0 auto;
  /* margin vertical: 0 // margin horizontal: auto, para se ajustar de acordo com ao tamanho da página*/
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
}

header nav ul li {
  min-width: fit-content;
  /* tamanho mínimo pro conteúdo dentro da tag ser exibido */
  height: fit-content;
  padding: 0 .75rem;
  font-size: small;
  cursor: pointer;
  list-style: none;
}

main {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

main section {
  text-align: center;
  position: relative;
}

main section a {
  color: var(--action-color);
  line-height: 2rem;
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
}

main section img {
  width: 100%;
  height: auto;
}

main .main-section h1 {
  color: var(--title-primary-color);
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: -0.28px;
  line-height: 4rem;
}

main .main-section h2 {
  color: var(--text-light);
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2rem;
  letter-spacing: 0.11px;
  margin-bottom: 13px;
}

main .main-section sub {
  font-size: 0.9rem;
}

main .main-section a:hover {
  text-decoration: underline;
}

main .main-section .text-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 51px;
}

main .spirited-section>div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

main .spirited-section>div:last-child {
  bottom: 50px;
}

main .spirited-section>div:first-child {
  top: 105px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 60%;
}

main .spirited-section>div:first-child p {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2.5rem;
  color: var(--spirited-main-color);
  letter-spacing: -0.6px;
}

main .spirited-section p {
  color: var(--text-light);
  font-size: 1.5rem;
  line-height: 1.8rem;
  letter-spacing: 0.11px;
}

main .spirited-section span {
  color: var(--title-primary-color);
  font-size: 1.2rem;
  line-height: 1.5rem;
  display: block;
  letter-spacing: 0.23px;
}

main .iphone-section h2 {
  color: var(--iphone-text-dark);
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: -0.28px;
  line-height: 4rem;
}

main .iphone-section p {
  color: var(--iphone-text-dark);
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2rem;
  letter-spacing: 0.11px;
  margin-bottom: 13px;
}

main .iphone-section .link-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px
}

main .iphone-section a:hover {
  text-decoration: underline;
}

main .iphone-section .text-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 51px;
}